* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;

  line-height: 1.3em;

  padding: 0 14%;

  background-color: #151718;
}

h1,
h2,
h3,
p,
a {
  color: #e8e6e3;
}

header {
  background-color: #242729;
  padding: 1rem;
}

.nav_links {
  padding-top: 5px;
  line-height: 2.5;
}

.button {
  padding: 8px 20px;
  color: white;
  background-color: #0e3e56;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover {
  background-color: #777669;
}

.section {
  background-color: #242729;
  padding: 1rem;
}

.intro_block,
.tiles_block {
  padding: 10px;
}

.intro_block p {
  padding: 5px 0;
}

.tiles_block h3 {
  padding: 5px;
}

.tiles_block a {
  text-decoration: none;
}


.tile_area {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 10px 3px;
}

@media screen and (max-width: 1100px) {
  .tile_area {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .tile_area {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tile {
  background-color: #161819;
  padding: 0;
  margin: 2px;
}

.tile a {
  text-decoration: none;
  color: white;
}

.tile figure {
  margin: 10px;
}

.tile img {
  width: 100%;
  height: 100%;
}

.tile figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 1em;
}

.tile:hover {
  transform: scale(1.05);
}