@use "tiles";
@use "content";

@import "theme";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  line-height: 1.3em;

  background-color: $bg-color-primary;
}

body>* {
  flex-shrink: 0;
}

.body_column {
  background-color: $bg-color-secondary;
  padding: 0 1rem;
  margin: 0 14%;
  flex-grow: 1;
}

.body_column * {
  color: $font-color-primary;
}

header {
  padding: 1rem 0;
}

.nav_links {
  padding-top: 5px;
  line-height: 2.5;
}

.button {
  padding: 8px 20px;
  color: white;
  background-color: $button-color-primary;
  text-decoration: none;
  white-space: nowrap;
  border: none;
}

.button:hover {
  background-color: $button-color-secondary;
}

.collapsible {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
