/* dark gray */
$bg-color-primary: #151718;
/* slightly less dark gray */
$bg-color-secondary: #242729;

/* white */
$font-color-primary: #e8e6e3;
$font-color-secondary: #e8e6e3;

/* Grayish blue */
$button-color-primary: #0e3e56;
/* Grayish cream */
$button-color-secondary: #777666;