{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<hr>

<div class="intro_block">
  <h1>A portfolio site - Ben Roberts</h1>
  <p>
    I am a recent graduate from Derby University with a 2:1 in Computer Games Programming. 
    Although the university taught me to use the Unreal Engine and C++, I have a hands-on 
    approach to learning and have taught myself to use other game engines and other 
    programming languages.
  </p>
  <p>
    This portfolio includes examples written across languages such 
    as Rust, C++, C#, GDScript and engines such as Unreal, Godot, Unity and Bevy.
  </p>
  <p>
    This portfolio is very new and very work in progress and is being updated daily.
    My <a href = "https://github.com/BrackenLo">Github account</a> contains most of the 
    code available on this portfolio. Also see <a href = "https://github.com/Brick5215">my old github account</a> 
    (still in the process of migrating work).
  </p>
</div>

<hr>

<div class="tiles_block">
  <h2>Featured</h2>
  {{ macros::projects_grid(tag = "Featured") }}
</div>

<div class="tiles_block">
  <h2>Graphics</h2>
  {{ macros::projects_grid(tag = "Graphics") }}
</div>

<div class="tiles_block">
  <h2>Unreal</h2>
  {{ macros::projects_grid(tag = "Unreal") }}
</div>

<div class="tiles_block">
  <h2>Rust Projects</h2>
  {{ macros::projects_grid(tag = "Rust") }}
</div>

<div class="tiles_block">
  <h2>Godot</h2>
  {{ macros::projects_grid(tag = "Godot") }}
</div>

{% endblock content %}
